input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


.divTable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace ;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 20px;
}


.tabla {

    display: block;
    width: 50%;
}


thead tr{
    background-color: rgb(114, 142, 161);
}

.tabla,
thead,
th {
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 800px;
    
}



thead {
    background-color: transparent;
}

tbody tr {
    color: rgb(0, 0, 0);
}
tr:nth-child(even) {
    background-color: rgb(245, 169, 169);
}



tbody {
    text-align: center;
}

.btnEditImg,
.btnDeleteImg {
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.btnDelete,
.btnEdit {
    border: none;
    background-color: transparent;
}


/* NAVIGATION BUTTONS  */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nextButton img,
.previousButton img
{
    width: 20px;
    height: 20px;
}

.previousButton,
.nextButton {
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 6px;
}

.previousButton,
.nextButton:hover {
    cursor: pointer;
}
.pageInfo{
    color: black;
}

.percentageInput{
    border-radius: 0;
    border: 1px solid black;
    height: 10px;
    width: 40px;
}

.modalDltContainer{
    background-color: rgba(175, 176, 177, .6);
    border-radius: 6px;
    display: flex;
    justify-content: center;

}

.modalDlt{
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.btnNoDelete,
.btnYesDelete{
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
}

.btnNoDelete:hover,
.btnYesDelete:hover {
    cursor: pointer;
    background-color: rgb(228, 230, 230);
}

.btnNoDelete:active,
.btnYesDelete:active {
    background-color: rgb(201, 197, 197);

}